<p id="notice"><%= notice %></p>

<h1>Series</h1>

<table id="series_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Season</th>
      <th>Episode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render @series %>
  </tbody>
</table>

<br>
<div id="new-series">
  <%= link_to 'New Series', new_series_path , remote: true %>
</div>

